.study-plans{
    padding-left: 20px;
    padding-right: 20px;
    display: block;
}
.plan{
    display: block;
    border-radius: 20px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #1A237E;
    margin-bottom: 20px;
}
.plan li{
    margin-top: 20px;
}
.plan h2, .plan h3{
    font-size: 20px;
}
.plan li{
    font-size: 15px;
}
.subscribe-button{
    display: block;
    text-decoration: none;
    background-color: #1A237E;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}
.subscribe-button:hover{
    background-color: #eb6122;
}
.category h3:hover{
    color: #eb6122;
}
@media(min-width: 768px){
    .study-plans{
        text-align: center;
    }
    .plans-container{
        display: block;
        padding-left: 100px;
        padding-right: 100px;
    }
    .plan {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
}
@media(min-width: 992px){
    .plans-container{
        display: block;
        padding-left: 60px;
        padding-right: 60px;
    }
    .plans-container{
        display: flex;
        gap: 50px;
    }
    .plan{
        flex: 1;
    }
    .subscribe-button {
        margin-top: auto;
    }
}