.lesson-detail {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.lesson-header {
    text-align: center;
    margin-bottom: 20px;
}

.lesson-header h1 {
    font-size: 32px;
    color: #1A237E;
    margin-bottom: 15px;
}

.lesson-header p {
    font-size: 18px;
    color: #666;
}

.lesson-content {
    text-align: center;
}

.lesson-content iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.next-lessons {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.next-lessons a{
    text-decoration: none;
}

.next-lessons h2 {
    font-size: 28px;
    color: #1A237E;
    text-align: center;
    margin-bottom: 15px;
}

.next-lessons-list {
    display: grid;
    gap: 20px;
}

.next-lesson {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.next-lesson:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.next-lesson h3 {
    font-size: 24px;
    color: #1A237E;
    margin-bottom: 10px;
}

.next-lesson p {
    font-size: 16px;
    color: #666;
}

.no-lessons-message {
    text-align: center;
    font-size: 18px;
    color: #666;
}

@media (min-width: 768px) {
    .next-lessons-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .lesson-detail {
        padding: 40px;
    }

    .next-lessons {
        padding: 40px;
    }

    .lesson-header h1 {
        font-size: 36px;
    }

    .lesson-header p {
        font-size: 20px;
    }

    .lesson-content iframe {
        height: 500px;
    }

    .next-lessons h2 {
        font-size: 32px;
    }

    .next-lesson h3 {
        font-size: 28px;
    }

    .next-lesson p {
        font-size: 18px;
    }

    .next-lessons-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
