.lesson-detail {
    padding: 40px;
    margin: 20px auto;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lesson-header {
    text-align: center;
    margin-bottom: 20px;
}

.lesson-header h1 {
    font-size: 36px;
    color: #1A237E;
    margin-bottom: 15px;
}

.lesson-header p {
    font-size: 20px;
    color: #666;
}

.lesson-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.lesson-content iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: none; 
}

.lesson-content .text-content {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow-y: auto;
    text-align: left;
    line-height: 1.6;
    color: #333;
    width: 100%;
    display: none; 
    white-space: pre-wrap;
    flex: 1;
}

.lesson-content .text-content h2,
.lesson-content .text-content h3 {
    color: #1A237E;
    margin-top: 20px;
}

.lesson-content .text-content p {
    margin-bottom: 20px;
}

.next-lessons {
    padding: 40px;
    margin: 20px auto;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.next-lessons a {
    text-decoration: none;
}

.next-lessons h2 {
    font-size: 32px;
    color: #1A237E;
    text-align: center;
    margin-bottom: 15px;
}

.next-lessons-list {
    display: grid;
    gap: 20px;
    justify-content: center;
}

.next-lesson {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: left; /* Para alinear el texto a la izquierda */
}

.next-lesson:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.next-lesson h3 {
    font-size: 28px;
    color: #1A237E;
    margin-bottom: 10px;
}

.next-lesson p {
    font-size: 18px;
    color: #666;
}

.no-lessons-message {
    text-align: center;
    font-size: 18px;
    color: #666;
}

@media (min-width: 768px) {
    .next-lessons-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .lesson-detail {
        padding: 40px;
    }

    .next-lessons {
        padding: 40px;
    }

    .lesson-header h1 {
        font-size: 36px;
    }

    .lesson-header p {
        font-size: 20px;
    }

    .lesson-content iframe,
    .lesson-content .text-content {
        height: 500px;
    }

    .next-lessons h2 {
        font-size: 32px;
    }

    .next-lesson h3 {
        font-size: 28px;
    }

    .next-lesson p {
        font-size: 18px;
    }

    .next-lessons-list {
        grid-template-columns: repeat(3, 1fr);
    }
}