.courses-grid {
    padding-top: 20px;
    padding-bottom: 30px;
    display: grid;
    gap: 20px;
    justify-items: center;
    padding-left: 20px; 
    padding-right: 20px;
}

.recommended-courses{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.my-courses h2{
    padding-top: 20px;
}

.course {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 260px; 
    height: 260px; 
}

.course:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.my-courses h2{
    padding-left: 20px;
}

.course h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #1A237E;
}

.course p {
    font-size: 16px;
    color: #666;
}

.course p::before {
    content: '• ';
    color: #FE5B2C;
}

.course-link {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #1A237E;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.course-link:hover {
    background-color: #FE5B2C;
}

.my-courses .course a {
    text-decoration: none;
}

@media (min-width: 768px) {
    .course{
        width: 230px;
    }
    .courses-grid {
        justify-items: start;
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (min-width: 992px) {
    .course{
        width: 260px;
    }

    .courses-grid {
        grid-template-columns: repeat(4, 1fr); 
    }
}

.recommended-courses {
    padding-bottom: 30px;
    display: grid;
    gap: 20px;
    justify-items: center; 
}

@media (min-width: 768px) {
    .recommended-courses {
        justify-items: start;
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (min-width: 992px) {
    .recommended-courses {
        grid-template-columns: repeat(4, 1fr); 
    }
}
