.recommendations {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.recommendations h2 {
    font-size: 24px;
    color: #1A237E;
    margin-bottom: 15px;
}

.recommended-courses {
    display: grid;
    gap: 20px;
    justify-items: center;
}

.course {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 260px; 
    height: 270px; 
}

.course:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.course h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #1A237E;
}

.course p {
    font-size: 16px;
    color: #666;
}

.course p::before {
    content: '• ';
    color: #FE5B2C;
}

.course-link {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #1A237E;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.course-link:hover {
    background-color: #FE5B2C;
}

@media (min-width: 768px) {
    .course {
        width: 230px; 
        height: 350px; 
    }

    .recommended-courses {
        justify-items: start; 
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 992px) {
    .course {
        width: 260px; 
        height: 350px; 
    }
    .recommended-courses {
        justify-items: start; 
        grid-template-columns: repeat(4, 1fr);
    }
}
