/* Mobile First */
.container-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#search-input {
    width: 90%; /* Ancho flexible para dispositivos móviles */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#search-button, #create-button {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#search-button:hover, #create-button:hover {
    background-color: #0056b3;
}

/* Tablets and up */
@media (min-width: 768px) {
    .container-buttons {
        flex-direction: row;
        justify-content: space-around;
    }

    #search-button, #create-button {
        width: auto;
        margin-top: 0;
    }
}

/* Desktops and up */
@media (min-width: 992px) {
    .search-container {
        justify-content: center;
    }

    #search-input {
        width: 300px;
    }

    #search-button, #create-button {
        margin-left: 10px;
    }
}
