.container-buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

#search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#search-button, #create-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}


#search-button:hover, #create-button:hover {
    background-color: #0056b3;
}
